{
    "env": {
        "development": {
            "presets": [
                "react",
                [
                    "env",
                    {
                        "targets": {
                            "browsers": "chrome >= 58"
                        },
                        "debug": true,
                        "uglify": true,
                        "useBuiltIns": false,
                        "modules": false
                    }
                ],
                "stage-2"
            ],
            "plugins": [
                "transform-decorators-legacy",
                [
                    "react-transform",
                    {
                        "transforms": [{
                            "transform": "react-transform-hmr",
                            "imports": [
                                "react"
                            ],
                            "locals": [
                                "module"
                            ]
                        }, {
                            "transform": "react-transform-catch-errors",
                            "imports": [
                                "react",
                                "redbox-react"
                            ]
                        }]
                    }
                ], [
                    "flow-runtime",
                    {
                        "assert"  : true,
                        "annotate": true
                    }
                ]
            ]
        },
        "production": {
            "presets": [
                "react",
                [
                    "env",
                    {
                        "targets": {
                            "browsers": "last 2 versions"
                        },
                        "debug": false,
                        "uglify": true,
                        "useBuiltIns": false,
                        "modules": false
                    }
                ],
                "stage-2"
            ],
            "plugins": [
                "transform-decorators-legacy"
            ]
        },
        "test": {
            "presets": [
                "react",
                "es2015",
                "stage-2"
            ],
            "plugins": [
                "transform-decorators-legacy"
            ]
        }
    }
}
